*{
	margin : 0;
	padding : 0;
	font-family: Century Gothic;
}

header{
	background-image: url(../images/background1.png);
	height : 25vh;
	background-position : center;
	background-size : cover;

}


.dis  img {
	border: 1px solid #ddd;
	border-radius: 50%;
	 

}

.dis{
	position: absolute;
}

